/* Two-pane layout */
ModelsPane Horizontal {
  width: 100%;
}

#models-tree-container {
  border: round $panel;
  padding: 0 1;
  width: 50%;
}

#models-settings-container {
  border: round $panel;
  padding: 0 1;
  width: 50%;
}

